.Notifications {
    padding: 1.5em;
    border: 1px solid red;
    position: absolute;
    top: 10px;
    width: 95vw;
}

li[data="default"] {
    color: blue;
}
li[data="urgent"] {
    color: red;
}